.time-temp {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}
.time-temp img {
  display: flex;
  width: 40px;
  height: 40px;
  justify-content: center;
  align-items: center;
  aspect-ratio: 1/1;
}
.time-temp .time {
  color: #a4a4a4;
  font-family: Pretendard;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.time-temp .temp {
  color: #292e2e;
  font-family: Pretendard;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
