.weather-main-container {
  display: flex;
  min-width: 1080px;
  padding: 32px;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
  border-radius: 16px;
  border: 2px solid #f2f2f2;
  background: #fff;
  box-shadow: 0px 0px 8px 2px rgba(0, 0, 0, 0.1);
}

/* 날씨 현황 ------------------------------------------------------- */

.weather-main-current {
  display: flex;
  padding: 10px;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  align-self: stretch;
}

.current-1st {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.current-1st img {
  display: flex;
  width: 160px;
  height: 160px;
  justify-content: center;
  align-items: center;
  aspect-ratio: 1/1;
}
.current-1st div {
  color: #292e2e;
  font-family: Pretendard;
  font-size: 80px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.current-2nd {
  color: #292e2e;
  font-family: Pretendard;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.current-3rd {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}
.current-3rd .sep {
  color: #a4a4a4;
  font-family: Pretendard;
  font-size: 8px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.current-3rd div {
  color: #a4a4a4;
  font-family: Pretendard;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.current-3rd div span {
  color: #292e2e;
}

/* 날씨 디테일 ------------------------------------------------------- */

.weather-main-detail {
  display: flex;
  padding: 12px 0px;
  justify-content: center;
  align-items: flex-start;
  gap: 16px;
  align-self: stretch;
  border-radius: 16px;
}
