.location-pin-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: stretch;

  border-radius: 12px;
  background-color: var(--color-gray-10, transparent);

  position: relative;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.location-pin-text.selected {
  background-color: #f2f2f2;
}

.pin-left {
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 8px;
  flex: 1 0 0;
  gap: 12px;
}

.pin-icon {
  width: 24px;
  height: 24px;
  aspect-ratio: 1/1;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.pin-text {
  width: 148px;
  overflow: hidden;
  color: var(--color-gray-60, #292e2e);
  text-overflow: ellipsis;
  font-family: Pretendard;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;

  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  flex: 1 0 0;
}

.pin-trash {
  top: 8px;
  right: 1px;
  cursor: pointer;
  opacity: 0;
  transition: opacity 0.2s ease;
  width: 24px;
  height: 24px;
}

.location-pin-wrapper:hover .pin-trash {
  opacity: 1;
}

.location-pin-wrapper:hover {
  opacity: 1;
  background-color: rgba(0, 0, 0, 0.1);

  justify-content: center;
  background: var(--color-gray-10, #f2f2f2);
  box-shadow: -2px 2px 2px 1px rgba(0, 0, 0, 0.1);
}
