.sidebar {
  display: flex;
  width: 248px;
  height: 100vh;
  padding: 48px 16px;
  flex-direction: column;
  align-items: flex-start;
  gap: 40px;
  aspect-ratio: 31/150;
  position: fixed;
  top: 0px;
  left: 0px;
  background-color: white;
  z-index: 1000;

  border-radius: 0px 48px 48px 0px;
  background: var(--color-gray-0, #fff);
  box-shadow: 2px 0px 4px 0px rgba(0, 0, 0, 0.1);
}

.sidebar-title {
  color: var(--color-gray-60, #292e2e);
  font-family: Pretendard;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.sidebar-link {
  text-decoration: none;
  color: black;
  transition: color 0.2s ease;
}

.sidebar-link:hover {
  color: #facc15; /* yellow on hover */
}

.map-pin-front-color {
  width: 40px;
  height: 40px;
  aspect-ratio: 1/1;
  border-radius: 0px 48px 48px 0px;
  background: #fff;
  box-shadow: 2px 0px 4px 0px rgba(0, 0, 0, 0.1);
}

.sidebar-title {
  color: var(--color-gray-60, #292e2e);
  font-family: Pretendard;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.sidebar-home-container {
  display: flex;
  align-items: center;
  gap: 16px;
}

.home-button {
  width: 40px;
  height: 40px;
  aspect-ratio: 1/1;
}
