.all-day {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.half-day-set {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.day-and-date {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.day-and-date .day {
  color: #292e2e;
  font-family: Pretendard;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.day-and-date .date {
  color: #292e2e;
  font-family: Pretendard;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
